layout {
    gaps 16
    center-focused-column "never"
    background-color "transparent"

    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    // ─────── Tema Kyu OS — "Horus" (derivada del wallpaper) ───────
    focus-ring {
        width 4
        active-color   "#8b45f7"
        inactive-color "#4a2a82"
        urgent-color   "#fb5c7e"
    }

    border {
        off
        width 2
        active-color   "#8b45f7"
        inactive-color "#4a2a82"
        urgent-color   "#fb5c7e"
    }

    tab-indicator {
        active-color   "#8b45f7"
        inactive-color "#4a2a82"
        urgent-color   "#fb5c7e"
    }

    insert-hint {
        gradient from="#8b45f780" to="#c44fe680" angle=45 relative-to="workspace-view"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        color "#0c052099"
    }
    // ───────────────────────────────────────────────────────────────

    struts {}
}
